In [2]:
import pandas as pd 
import json
from sqlalchemy import create_engine
import sqlalchemy
import pymysql
from getpass import getpass
from mysql.connector import connect, Error

In [3]:
import warnings
warnings.filterwarnings('ignore')

# Connect To MySQL Service

In [3]:
engine = create_engine('mysql+pymysql://admin:HelloWorld@aws-sql-yelp.cqihthgefggb.us-east-1.rds.amazonaws.com:3306/sql_yelp')

In [4]:
#Data Paths in local
CHECKIN_PATH = '/Users/chiyunchen/github/emse6586_finalproject_yelp-main/data/yelp_academic_dataset_checkin.json'    #Checkins on a business.
REVIEW_PATH = '/Users/chiyunchen/github/emse6586_finalproject_yelp-main/data/yelp_academic_dataset_review.json'      #Contains full review text data including the user_id that wrote the review and the business_id the review is written for.
TIP_PATH = '/Users/chiyunchen/github/emse6586_finalproject_yelp-main/data/yelp_academic_dataset_tip.json'            #Tips written by a user on a business. Tips are shorter than reviews and tend to convey quick suggestions.
BUSINESS_PATH = '/Users/chiyunchen/github/emse6586_finalproject_yelp-main/data/yelp_academic_dataset_business.json'  #Contains business data including location data, attributes, and categories.
USER_PATH = '/Users/chiyunchen/github/emse6586_finalproject_yelp-main/data/yelp_academic_dataset_user.json'          #User's information

## Create Table and Import to MySQL Service

In [ ]:
## Create Table
checkin_pd = pd.read_json(CHECKIN_PATH, lines=True)
review_pd = pd.read_json(REVIEW_PATH, lines=True)
tip_pd= pd.read_json(TIP_PATH, lines=True)
business_pd= pd.read_json(BUSINESS_PATH, lines=True)
user_pd= pd.read_json(USER_PATH , lines=True)

In [ ]:
##Import to MySQL
checkin_pd.to_sql(
    name = "CHECKIN",
    con = engine,
    if_exists='replace', 
    index=True,  
    )
review_pd.to_sql(
    name = "REVIEW",
    con = engine,
    if_exists='replace', 
    index=True,  
    )
tip_pd.to_sql(
    name = "TIP",
    con = engine,
    if_exists='replace', 
    index=True,  
    )
business_pd.to_sql(
    name = "BUSINESS",
    con = engine,
    if_exists='replace', 
    index=True, 
    dtype={
        'attributes': sqlalchemy.types.JSON, 
        'hours': sqlalchemy.types.JSON
        }, 
    )
user_pd.to_sql(
    name = "USER",
    con = engine,
    if_exists='replace', 
    index=True,  
    )

Kernal may crush during processing, thus, we process the files seprately.

### CHECKIN

In [25]:
checkin_pd = pd.read_json(CHECKIN_PATH, lines=True)
checkin_pd.to_sql(
    name = "CHECKIN",
    con = engine,
    if_exists='replace', 
    index=True,  
    )

131930

In [26]:
#release memory
del checkin_pd

### REVIEW

In [5]:
review_pd = pd.read_json(REVIEW_PATH, lines=True)

In [6]:
review_pd.to_sql(
    name = "REVIEW",
    con = engine,
    if_exists='replace', 
    index=True,  
    )

6990280

In [7]:
#release memory
del review_pd

### TIP

In [8]:
tip_pd= pd.read_json(TIP_PATH, lines=True)

In [9]:
tip_pd.to_sql(
    name = "TIP",
    con = engine,
    if_exists='replace', 
    index=True,  
    )

908915

In [10]:
#release memory
del tip_pd

### BUSINESS

In [11]:
business_pd= pd.read_json(BUSINESS_PATH, lines=True)

In [12]:
business_pd.to_sql(
    name = "BUSINESS",
    con = engine,
    if_exists='replace', 
    index=True, 
    dtype={
        'attributes': sqlalchemy.types.JSON, 
        'hours': sqlalchemy.types.JSON
        }, 
    )

150346

In [13]:
#release memory
del business_pd

### USER

In [14]:
user_pd= pd.read_json(USER_PATH , lines=True)

In [15]:
user_pd.to_sql(
    name = "USER",
    con = engine,
    if_exists='replace', 
    index=True,  
    )

1987897

In [16]:
#release memory
del user_pd

# Write a Querey to Test the Database

In [9]:
try:
    with  pymysql.connect(
        host="aws-sql-yelp.cqihthgefggb.us-east-1.rds.amazonaws.com",
        port=3306,
        user=input("Enter username: "),
        password=getpass("Enter password: "),
        database="sql_yelp",
    ) as connection:
        print(connection)
except Error as e:
    print(e)

Enter username: admin
Enter password: ········
<pymysql.connections.Connection object at 0x10ca523a0>

In [13]:
connection = pymysql.connect(host="aws-sql-yelp.cqihthgefggb.us-east-1.rds.amazonaws.com",
                             port=3306,
                             database='sql_yelp',
                             user='admin',
                             password='HelloWorld')
mycursor = connection.cursor()

In [48]:
query = """SELECT name, city, state, categories FROM sql_yelp.BUSINESS 
WHERE state = 'IL' 
AND categories like 'Restaurants'
LIMIT 100;"""

In [55]:
restaurant = mycursor.execute(query)
restaurant = mycursor.fetchall()

In [56]:
restaurant[:2]

(('Grace Manor Restaurant', 'Edwardsville', 'IL', 'Restaurants'),
 ('Dairyland', 'Dupo', 'IL', 'Restaurants'))

In [57]:
df = pd.DataFrame.from_dict(restaurant)
df[:5]

                        0             1   2            3
0  Grace Manor Restaurant  Edwardsville  IL  Restaurants
1               Dairyland          Dupo  IL  Restaurants
2      Moore's Restaurant    Belleville  IL  Restaurants